@model IEnumerable<PointOfSale.Application.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Products";
    ViewBag.Description = "Index";
}


<a class="button is-primary is-pulled-right" href="@Url.Action("Create", "Products")">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>
                    @using (Html.BeginForm("Delete", "Products", new { id = item.Id }, FormMethod.Post))
                    {
                        <a class="button is-info" href="@Url.Action("Edit", "Products", new { id = item.Id })">Edit</a>
                        <button class="button is-danger">Remove</button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts
{
    <script>

    </script>
}
