<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastr")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="pointOfSale" ng-controller="MainController">
    <nav class="navbar ">
        <div class="navbar-brand">
            <a class="navbar-item" href="@Url.Action("Index", "Home")">
                <img src="~/Content/img/logo.png" alt="Bulma: a modern CSS framework based on Flexbox">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item " href="@Url.Action("Index", "Home")">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link  is-active" href="#">
                        Manage
                    </a>
                    <div class="navbar-dropdown ">
                        <a class="navbar-item " href="@Url.Action("Index", "Products")">
                            Products
                        </a>
                        <a class="navbar-item " href="@Url.Action("Index", "PaymentMethods")">
                            Payment Methods
                        </a>
                        <a class="navbar-item " href="@Url.Action("Index", "Categories")">
                            Categories
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link " href="@Url.Action("Index", "Shop")">
                        Shop
                    </a>
                    <div class="navbar-dropdown " data-style="width: 18rem;">

                        <a class="navbar-item" href="@Url.Action("Index", "Shop")">
                            Products
                        </a>                      
                    </div>
                </div>       
            </div>

            <div class="navbar-end">
                <a class="navbar-item badge" data-badge="{{itemsCount}}" href="@Url.Action("Cart", "Shop")">
                    <span class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </span>
                    <span>Shopping Cart</span>
                </a>              
            </div>
        </div>
    </nav>

    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                @ViewBag.Title
            </p>
            <p class="subtitle">
                @ViewBag.Description
            </p>
        </div>
    </section>

    <section class="section">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)
    @Html.Partial("_Toastr")
</body>
</html>
